# Entorno Virtual
.venv/
venv/
ENV/
env/
*/activate*

# Archivos compilados/cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de IDE (ejemplos)
.idea/
.vscode/

# Archivos del Sistema Operativo
.DS_Store

# Otros (añade según necesites)
*.log
*.pot
*.py[cod]